.button-wrapper {
  /* form */
  padding: var(--spacing-small) var(--spacing-medium);
  border-radius: var(--spacing-medium);

  /* color */
  background-color: var(--palette-neutral-500);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);

  /* font */
  font-size: inherit;
}

.button-wrapper:hover {
  /* effect */
  border-color: var(--palette-white);
  filter: drop-shadow(0px 0px 20px var(--palette-success-500));
}

.button-wrapper:active {
  /* move text */
  transform: translateY(var(--spacing-small));

  /* effect */
  box-shadow: inset 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
}