/* PALETTES CONSTANTS */
:root {
  --palette-success-500: #27B1E0; /* base success */

  --palette-warning-500: ; /* base warning */

  --palette-error-500: #E00E03; /* base error */

  --palette-neutral-500: #524C4C; /* base neutral */

  --palette-white: #FFFFFF; /* constant */

  --palette-black: #000000; /* constant */
}

/* PALETTE THEMES */
.App[data-theme = "bright"] {
  /* bright theme */
  --palette-primary-500: #180A1E; /* base */

  --palette-primary-500-text: #00D0FD; /* base */
  
  --palette-secondary-500: #933BC9; /* base */
  
  --palette-secondary-500-text: #003340; /* base */
  
  --palette-tertiary-500: #ADAB1F; /* base */
  
  --palette-tertiary-500-text: #001820; /* base */
}