.header-wrapper {
  /* Self placement */
  grid-row: 1 / 2;

  /* Content display */
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* Form */
  width: 100%;
  padding: var(--spacing-small);

  /* Color */
  background-color: var(--palette-secondary-500);
}
.header-wrapper > * {
  margin: 0 var(--spacing-tiny);
}

.svg {
  height: 100%;
}

.text {

}