/* This might not be necessary to have here
 * TODO: Watch for popping
* {
  font-family: "Stint Ultra Condensed", sans-serif;
}

h1 {
  font-size: 64px;
  margin: 0;
}

h2 {
  font-size: 40px;
  margin: 0;
}

h3 {
  font-size: 26px;
  margin: 0;
}

p {
  font-size: 16px;
  margin: 0;
} */