.output-wrapper {
  /* Self placement */
  grid-row: 2 / 3;

  /* Content display */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Form */
  width: 100%;
  height: auto;
  flex-grow: 3;

  /* Colors */
  background-color: var(--palette-primary-500);
  color: var(--palette-white);
}

.meme {
  /* Content display */
  position: relative;
  display: flex;
  justify-content: center;

  /* Form */
  width: 80%;
  max-height: 80%;
}

.image {
  /* Image size */
  max-width: 100%;
  max-height: 100%;

  filter: brightness(.8);
}

.text-top {
  /* Position in container */
  position: absolute;
  top: 0;
  
  /* Form */
  width: 100%;
  text-align: center;
  padding-top: var(--spacing-small);
}

.text-bottom {
  /* Position in container */
  position: absolute;
  bottom: 0;
  
  /* Form */
  width: 100%;
  text-align: center;
  padding-bottom: var(--spacing-small);
}